body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:#e7f2fc;
  }
  
.apresentacao{
  width: auto;
  height: 300px;
  color: black;
  padding-bottom: 10px;
  
}
.profile{
  width: auto;
  height: 300px;

}

.card{
  width: 250px;
}

.navbar{
  height: 60px;
  background: linear-gradient(90deg, rgba(226,240,252,1) 0%, rgba(197,225,249,1) 100%);
}

.navbar-default .navbar-nav>li>a{
  padding-top: 20px;
  color: #1178cf;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  height: 60px;
}

.btn-default{
  background-color: #96c8f3;
  color: #1178cf;
  border: none;
}

.navbar-brand  {
  float: left;
  padding: 5px 5px 5px 10px;
}