<table>
  <div class="card">
  <tr valign="top">
    <td>
      <h4><a class="card-title" href="{{ url_for('main.microempresa_profile', title=microempresa.title) }}">
        {{ microempresa.title }}</a></h4>
      <p class="card-text">Descrição: {{ microempresa.description }} <br>
        Meta Financeira: {{ microempresa.goal }}<br>
        Localização: {{ microempresa.location }}</p>
    </td>
  </tr>
  </div>
</table>
