{% extends "base.html" %}
{% block content %}
    <h1>Sobre</h1>
    <p>Plataforma web de colaboração financeira destinada a ajudar pequenas e
      micro empresas a buscarem possíveis investidores para a sua ideia de negócio. <br><br>
      A ideia de desenvolver Connect ACT é pensada na problemática em oferecer melhores
      experiências por meio de tecnologias que conectem de forma eficiente e simplificada
      pequenos e micro empreendedores a investidores <br><br>
      O projeto deu seu início ao desenvolvimento no Hackaton da PotiLivre no ano de 2020.
      O tema do Hackaton é sobre buscar soluções para pequenas e micro empresas usando
      Software Livre.</p>
{% endblock %}
