{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html>
{% block html_attribs %} lang="pt-br"{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
    {% endblock %}

    <title>{% block title %}{% if title %}{{ title }} - Connect ACT
    {% else %}Bem-vindo à Connect ACT{% endif %}{% endblock %}</title>
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{'/'}}">
          <img class="navbar-brand" src="../static/image/logo_connectACT.png" alt="Logo Connect ACT"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="link_text" href="{{ url_for('main.explore') }}">Encontrar diversas ideia de Negócio</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('main.register_microempresa') }}">Registrar ideia de Negócio</a></li>
            <li><a href="{{ url_for('main.about') }}">Sobre</a></li>
          </ul>
        </div>

    </div>
    </nav>
    {% endblock %}

    {% block content %}
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <br><div class="alert alert-info text-center" role="alert">{{ message }}</div><br>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {# application content needs to be provided in the app_content block #}
      {% block app_content %}{% endblock %}
    {% endblock content %}


</body>
</html>
