{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<h1 class="text-center">Editar ideia de Negócio</h1>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      {{ wtf.quick_form(form) }}
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
