{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>Explorar</h1>
    
      <div class="row">
        {% for microempresa in microempresa %}
        <div class="col-sm">
          {% include '_microempresa.html' %}<br>
        </div>
        {% endfor%}

    

      
    

{% endblock %}
