{% extends "base.html" %}
{% block content %}
    <div class="container apresentacao">
    <h1>Connect ACT</h1>
    <p>Plataforma de colaboração financeira destinada a ajudar pequenas e micro
       empresas a investirem em ideias de negócio.</p><hr>

    <h2>Encontre diversas ideias de negócios cadastradas por micro e pequenas empresas</h2>
    

    {% for microempresa in microempresa %}
      {% include '_microempresa.html' %}<br>
    {% endfor%}
  </div>

{% endblock %}
