{% extends "base.html" %}
{% block content %}
<div class="container-fluid profile">
  <div class="row">
    <div class="col-md-12">
      <h1>{% if microempresa.title %}{{ microempresa.title }}{% endif %}</h1>
        <p>{% if microempresa.description %}Descrição: {{ microempresa.description }}{% endif %}<br>
        {% if microempresa.goal %}Meta Financeira: {{microempresa.goal}}{% endif %}<br>
        {% if microempresa.location %}Localização: {{microempresa.location}}{% endif %}</p>
        <button type="button" name="button">Apoiar ideia financeiramente</button><br><br>
        <p><a href="{{ url_for('main.edit_microempresa', id=microempresa.id) }}">
          {{_('Editar Ideia')}}</a> |
          <a href="{{ url_for('main.deletar_microempresa', id=microempresa.id) }}">
          {{_('Apagar Ideia')}}</a></p>
    </div>
  </div>
</div>
{% endblock %}
